[Credentials]
	# replace with your email
	email = usc@example.com
	# replace with your password
	password = uscpassword1

[Client]
	secret = 21U9XG7P8P6BVSMDF83J1G13WSG5GLKNZ4JLZA4L8BA9852UEBWDB6PB377ZPN1P
	id = 32730503115
	spoofHeader = true

[FakeHeader]
	accept-encoding = gzip
	user-agent = okhttp/3.10.0
	accept-language = en
	device-type = android
	device-model = XT1053
	application-version = 37

[API]
	# no '/' on the end expected
	baseURL = https://api.urbansportsclub.com/api/v4
