[Credentials]
	# replace with your email
	email = usc@example.com
	# replace with your password
	password = uscpassword1

[Client]
	secret = 1BJX3V5HWUYVCZ77S1TY9L1PSWAXA3K95ZMUC3ZRBAP3M696ZF4SD3QW5VBNU81H
	id = 86093282310

[Headers]
	accept-encoding = gzip, deflate
	user-agent = USCAPP/4.0.8 (android; 28; Scale/2.75)
	accept-language = en-US;q=1.0

[API]
	# no '/' on the end expected
	baseURL = https://api.urbansportsclub.com/api/v5
